

*{

    box-sizing: border-box;
    margin: 0;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: #0f0f0f;
}


section{

    display: flex;
    flex-wrap: wrap;
    width: 460px;
    height: 460px;
    gap: 18px;
}
section div{

    width: 100px;
    height: 100px;
    background-color: #dfdfdf;
    border-radius: 10px;
    transition: .25s;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
section div:hover{

    transition: .25s;
    transform: scale(1.1);
}
section div:active{

    transform: scale(0.95);
}
i{
    color: #0f0f0f;
    font-size: 4rem;
    display: none !important;
}
.show i{

    display: block !important;
}
.match{

    background-color: #00bf0d;
}
.unmatch{

    background-color: #de0000;
}
.match i , .unmatch i{

    color: #f0f0f0;
}
.finish {

    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}
.finish i{

    color: whitesmoke;
    font-size: 4rem;
}
