*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}
.keys{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.row{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.left , .down , .right , .up{
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;
    background-color: #cbcbcb;
    font-size: 40px;
    border: 3px solid #1e1e1e;
    border-radius: 16px;
}